:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 /* COLORS */
  --primary: rgb(248,248,248);
  --secondary: rgb(189,8,28);
  --terciary: rgb(28, 176, 209);
   
  
    /* BORDER RADIUS */
    --rtc-border-radius: 8px;
  
    /* SPACINGS */
    --rtc-margin-xs: 5px;
    --rtc-margin-s: 10px;
    --rtc-margin-m: 20px;
    --rtc-margin-l: 30px;
    --rtc-margin-xl: 40px;
  
    --rtc-padding-xs: 5px;
    --rtc-padding-s: 10px;
    --rtc-padding-m: 20px;
    --rtc-padding-l: 30px;
    --rtc-padding-xl: 40px;
  
    --rtc-gap-xs: 5px;
    --rtc-gap-s: 10px;
    --rtc-gap-m: 20px;
    --rtc-gap-l: 30px;
    --rtc-gap-xl: 40px;

    --icon-size: 50px;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	border: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
header, main, footer, input , a {
	color: var(--secondary);
  background-color: var(--primary);
  font: 1em/1.5 Hind, sans-serif;
}
body {
	background: var(--bg);
  background-color: var(--primary);
	height: 100vh;
	font-size: calc(12px + (24 - 16)*(100vw - 320px)/(1280 - 320));
	
}
a {
    font-weight: 600;
    text-decoration: none;
}
header {
  display: flex;
  width: 100%;
  padding: 40px;
  align-items: center;
  justify-content: center;
  height: 25%;
}
.cube-slider {
  margin-left: 100px;
  margin-right: 20px;
}
.logo {
display: flex;
justify-content: space-evenly;
align-items: center;
width: 25%;
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }

.cube-slider {
  margin-left: 0;
}
  .logo {
    justify-content: center;
  }
}
.topic {
  display: flex;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}
.topic > img {
  width: 50px;
  height: 50px;
  margin: 5px;
}
.prompt {
  display: flex;
  align-items: center;
  justify-content: center;
}

        

footer {
  min-height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
}
footer > ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  font-size: small;
  flex-wrap: wrap;
}
footer > ul > li{
  margin: 5px;
  width: 100px;
}
