

.search {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.search input[type="text"] {
	padding: 6px;
	margin-right: 1px;
	border: 3px var(--secondary) solid;
	font-size: 17px;
	border-radius: var(--rtc-border-radius);
	background: var(--primary);
}

.search button {
	padding: 6px 10px;
	background: var(--secondary);
	color: var(--primary);
	cursor: pointer;
	border-radius: var(--rtc-border-radius);
	border: var(--primary) 2px solid;
}

.search button i {
	font-size: 18px;
}

.search button:hover {
	background: var(--primary);
	color: var(--secondary);
	border: var(--secondary) 2px solid;
}

@media screen and (max-width: 600px) {

	.search {
			justify-content: center;
			width: 100%;
			margin-top: 10px;
			padding-left: 10px;
	}

	.search input[type="text"] {
			margin-right: 10px;
			width: auto;
	}

	.search button {
			padding: 4px 8px;
	}

	.search button i {
			font-size: 14px;
	}

}